body {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to top, #80EE98, #48DFB1, #09D1C7, #15919B);
    background-repeat: no-repeat;
    background-size: cover;
}

#pose {
    padding: 8px;
    background-color: #09D1C7;
    border-radius: 20px;
}

header {
    background-color: #213a58;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    display: flex;
    color: white;
    position: static;
    width: 100%;
}


#img1 {
    background: white;
    padding: 10px;
    border-radius: 32px;
    margin-left: 10px;
}

img {
    width: 50px;
    height: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 32px;
}

nav li :hover {
    padding: 8px;
    background-color: #09D1C7;
    border-radius: 20px;
}

a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px;
}
footer {
    display: flex;
    background-color: #213a58;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.contatos {
    display: flex;
    width: 40px;
    height: 40px;
    padding-bottom: 22px;
}

.login {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.login img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.container {
    max-width: 600px;
    margin: 20px auto 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.forms{
    margin-bottom: 20px;
}
.forms-inline {
    display: flex;
    justify-content: space-between;
}
.forms-inline div {
    width: 48%;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.button:hover {
    background-color: #45a049;
}
